<div class="jumbotron vertical-center">
  <div class="container">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">Login</div>
        <div class="panel-body">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="" class="control-label col-md-4"> Email </label>
              <div class="col-md-8">
                <input type="text" class="form-control" name="username" [(ngModel)]="user.name">
              </div>
            </div>
            <div class="form-group">
              <label for="" class="control-label col-md-4"> Password </label>
              <div class="col-md-8">
                <input type="password" class="form-control" name="password" [(ngModel)]="user.pass">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <button (click)="login()" class="btn btn-block btn-info">Login</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>